data
literature
notes
Jason S. Schwarz, Chris Chapman, Elea McDonnell Feit - Python for Marketing Research and Analytics (2020, Springer) [10.1007_978-3-030-49720-0] - libgen.li.pdf
snippet.py
output1.txt
output2.txt
